# Build outputs (Maui project folder)
Feleves feladat/bin/
Feleves feladat/obj/

# IDE folders
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
Feleves feladat/Resources/Raw/workout-tracking-app-476413-af8d78875bab.json
Feleves feladat/Resources/Raw/workout-tracking-app-*.json

